<div class="typeahead-container">
    @Html.TextBox("Adresse", Request.Params["Adresse"], htmlAttributes: new { AutoComplete = "Off", @class = "form-control typeahead", placeholder = "Address", format = "MM" })
</div>
@Html.Hidden("AddressId")
<script type="text/javascript">
    $(document).ready(function () {
        jsAbonnementer.initAddressSearchAutoCompleter();
    })
</script>

