@model IEnumerable<PauseSystem.Models.Entity.Levering>

<table>
    <thead>
        <tr>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @item.Date
                </td>
            </tr>
        }
    </tbody>
</table>