@{
    ViewBag.Title = "Pause System";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        Hej @(PauseSecurity.GetFullName()) Du kan nu afmelde de dage hvor du ikke ønsker frugt.
        Afmeldning gælder for alle varer som normalt leveres på den pågælende dato.
        Ønker du stadig levering af frugt, men i mindre mængder, så kontakt os venligst på 32 200 777 eller på salg@firmafrugt.com

        Når du logger ud, vil du modtage en opdateret leveringsoversigt hvor du kan se din kommende leveringer.

        <h4>Leveringsadresser</h4>

        <div class="form-horizontal">

            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Startdato:</label>
                    <div class="col-sm-7">
                        <div class="input-group input-append date">
                            @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control", title = "Startdato" })
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-xs-5 control-label">Slutdato:</label>
                    <div class="col-xs-7">
                        <div class="input-group input-append date">
                            @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control", title = "Slutdato" })
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        @{
            Html.RenderAction("GetLeverings");
          }
        

    </div>

}
else
{
    <div class="jumbotron">
        <h1>Firmafrugt.com</h1>
        <p class="lead">levering mandag til fredag op til postnummer 4000.</p>
        <p> <h6> Kundeservice: 32 200 777 | mandag - fredag 8:00 - 16:00</h6></p>
    </div>

    <div class="row">

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d',
            orientation: "top auto",
            autoclose: true
        })
        //    .on('changeDate', function (e) {
        //    // Revalidate the date field
        //    $('.datepicker').close();
        //});
    })

</script>