@{
    ViewBag.Title = "Pause System";
}

<div class="jumbotron">
    <h1>Firmafrugt.com</h1>
    <p class="lead">levering mandag til fredag op til postnummer 4000.</p>
    <p> <h6> Kundeservice: 32 200 777 | mandag - fredag 8:00 - 16:00</h6></p>
</div>


